<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify - Login</title>
    <link rel="icon" href="../../public/assets/img/favicon.svg" type="image/svg+xml">
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ion-icons script link -->
    <script 
    type="module" 
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script 
    nomodule 
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- custom stylesheets link -->
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/loginPage.css">
</head>
<body class="loginPage-body">
    <%- include('../partials/commonHeader') %>
    <%- body %>
    <script src="/js/index.js"></script>
</body>
</html>