<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify | Dashboard - Notes</title>
     <!-- google font link -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- ion-icons script link -->
     <script 
     type="module" 
     src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script 
     nomodule 
     src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!-- custom stylesheets link -->
     <link rel="stylesheet" href="/css/global.css">
     <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/viewNotes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="viewNotes-body">

    <%- include('../partials/viewNotesHeader') %>

    <%- body %>

<!-- Custom scripts link -->
<script src="/js/index.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>

