<!-- The header which is used in homepage, aboutpage -->
<header class="header flex">
    <div class="hamMenu-btn flex">
        <ion-icon name="menu-outline" id="ham-icon"></ion-icon>
    </div>
    <a href="#" class="top-nav-sec-logo"><h2>NOTIFY</h2></a>

    <nav class="top-nav flex">
        <ul class="top-nav-list flex">
            <li>
                <a href="/" class="top-nav-links">Home</a>
            </li>
            <li>
                <a href="/dashboard" class="top-nav-links">Dashboard</a>
            </li>
            <a href="#" class="top-nav-logo"><h2>NOTIFY</h2></a>
            <li>
                <a href="/about" class="top-nav-links">About Us</a>
            </li>
            <li>
                <a href="/explore" class="top-nav-links">Explore</a>
            </li>
        </ul>
    </nav>
    
</header>