<!-- The header which is used in homepage, aboutpage -->
<header class="header flex">
    <div class="back-to-dash-btn flex">
        <a href="/dashboard"><ion-icon name="arrow-back-outline"></ion-icon></a>
    </div>
    <nav class="top-nav flex">
            <a href="#" class="top-nav-logo"><h2>NOTIFY</h2></a>
    </nav>
</header>